/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}

/* ******************************** */

/* Colores */


/* ******************************** */

html{
    font-family: sans-serif;
    background-color: #BCB69C;
}

